<style>
    .adjustwidth {
        max-width: 700px;
        background-color: white;
    }

    .highlight {
        background-color: yellow;
    }
</style>
{{#if loginpage}}
<div class="container">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Keyword Search</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{input value=folderInput class="form-control" placeholder="Enter Folder Path"}} <br>
                    {{input value=fileInput class="form-control" placeholder="Enter FileName"}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" {{action 'onValidate' on="click" }}>Validate Path</button>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#if searchpage}}
<div class="container">
    <div class="modal-dialog modal-dialog-centered adjustwidth">
        <div class="modal-content">
            <div class="modal-header">
                <span class="input-group-btn">
                    <h5 class="modal-title">Keyword Search</h5>
                    <span class="input-group">
                        <small class="form-text text-muted">Folder Path: {{folderpath}}</small>
                    </span>
                    <span class="input-group">
                        <small class="form-text text-muted">File Name: {{filename}}</small>
                    </span>
                </span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{input value=keywordInput class="form-control" placeholder="Enter keyword to be searched"}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" {{action 'onSearch' on="click" }}>Search</button> <br>
                {{#if analytics}}
                <button type="button" class="btn btn-primary" {{action 'onAnalytics' on="click"}}>View
                    Analytics</button>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <table class="table table-hover table-bordered adjustwidth">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Search Results</th>
            </thead>
            <tbody id="display-results">
            </tbody>
        </table>
    </div>
    <br>
    <div class="row justify-content-center align-items-center">
        {{#if chartType}}
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Graphical Representation
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" {{action 'onTableView' on="click"}}>Table View</button>
                <button class="dropdown-item" {{action 'onBarView' on="click"}}>Bar Chart View</button>
                <button class="dropdown-item" {{action 'onColView' on="click"}}>Column Chart View</button>
            </div>
        </div>
        {{/if}}
    </div>
    <br>
    <div class="row justify-content-center align-items-center">
        <div id="data_div" style="width: 700px; height: 350px;"></div>
        <div id="time_div" style="width: 700px; height: 350px;"></div>
    </div>
    <br>
</div>
{{/if}}