<style>
    .adjustwidth {
        max-width: 700px;
        background-color: white;
    }

    .highlight {
        background-color: yellow;
    }
</style>
{{#if loginpage}}
<div class="container">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Keyword Search</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{input value=folderInput class="form-control" placeholder="Enter Folder Path"}} <br>
                    {{input value=fileInput class="form-control" placeholder="Enter FileName"}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" {{action 'onValidate' on="click" }}>Validate Path</button>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#if searchpage}}
<div class="container">
    <div class="modal-dialog modal-dialog-centered adjustwidth">
        <div class="modal-content">
            <div class="modal-header">
                <span class="input-group-btn">
                    <h5 class="modal-title">Keyword Search</h5>
                    <span class="input-group">
                        <small class="form-text text-muted">Folder Path: {{folderpath}}</small>
                    </span>
                    <span class="input-group">
                        <small class="form-text text-muted">File Name: {{filename}}</small>
                    </span>
                </span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{input value=keywordInput class="form-control" placeholder="Enter keyword to be searched"}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" {{action 'onSearch' on="click" }}>Search</button> <br>
                {{#if analytics}}
                <button type="button" class="btn btn-primary" {{action 'onAnalytics' on="click"}}>View
                    Analytics</button>
                {{/if}}
                {{#if chartType}}
                <button type="button" class="btn btn-primary" {{action 'onNormalView' on="click"}}>Normal</button>
                <button type="button" class="btn btn-primary" {{action 'onChartView' on="click"}}>Chart</button>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <table class="table table-hover table-bordered adjustwidth">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Search Results</th>
            </thead>
            <tbody id="display-results">
            </tbody>
        </table>
    </div>
    <br>
    <div class="row justify-content-center align-items-center">
        {{#if showAnalytics}}
        <table class="table table-hover table-bordered adjustwidth">
            <thead>
                <th scope="col">Type</th>
                <th scope="col">MAX</th>
                <th scope="col">MAX Value</th>
                <th scope="col">MIN</th>
                <th scope="col">MIN Value</th>
                <th scope="col">CURRENT</th>
                <th scope="col">CURRENT Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>Search Count</td>
                    <td>{{analyticsdata.smaxkey}}</td>
                    <td>{{analyticsdata.smaxval}}</td>
                    <td>{{analyticsdata.sminkey}}</td>
                    <td>{{analyticsdata.sminval}}</td>
                    <td>{{analyticsdata.sckey}}</td>
                    <td>{{analyticsdata.scval}}</td>
                </tr>
                <tr>
                    <td>Results Count</td>
                    <td>{{analyticsdata.rmaxkey}}</td>
                    <td>{{analyticsdata.rmaxval}}</td>
                    <td>{{analyticsdata.rminkey}}</td>
                    <td>{{analyticsdata.rminval}}</td>
                    <td>{{analyticsdata.rckey}}</td>
                    <td>{{analyticsdata.rcval}}</td>
                </tr>
                <tr>
                    <td>Time Taken (in NanoSecs)</td>
                    <td>{{analyticsdata.tmaxkey}}</td>
                    <td>{{analyticsdata.tmaxval}}</td>
                    <td>{{analyticsdata.tminkey}}</td>
                    <td>{{analyticsdata.tminval}}</td>
                    <td>{{analyticsdata.tckey}}</td>
                    <td>{{analyticsdata.tcval}}</td>
                </tr>
            </tbody>
        </table>
        {{/if}}
        {{#if showChart}}
            <div id="data_div" style="width: 700px; height: 350px;"></div>
            <div id="time_div" style="width: 700px; height: 350px;"></div>
        {{/if}}
    </div>
    <br>
</div>
{{/if}}